.App {
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.dash-de{
  text-align: center;
  align-items: center;
  display: "grid";
  grid-template-columns: "1fr 1fr 1fr"
}

#main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: antiquewhite;
}
.main{

  background-color: antiquewhite;
}

.profile{
  align-items: center;
  color:rgb(31, 114, 14);
  text-align: center;
  padding-bottom: 20%;
}
.detail1{
  background-color: rgb(233, 213, 232);
  color: blue;
}

.profile button{
  margin-top: 30%;
}

.profile h2{
  font-size: 20px;
  color: black;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



